/*----------Universal Styles---------------*/
html, body {height: 100%;
	font-family: cursive;
	;overflow: hidden}
.fleft{float:left;}
.fright{float:right;}
.clearfix{clear:both;}
.center{text-align: center}
.errors{color: red;font-size:11px}
a{text-decoration: none}
.relative{position:relative;}
.hidden{display: none}
input{border:none;
     background:none}
input:focus, textarea:focus, select:focus {-webkit-box-shadow: none;
    box-shadow: none;
    outline: none;}
input[type="text"]{border-bottom: 1px solid #ad88f1;
                  line-height: 30px;
                  width:100%;
                  font-family: cursive}
input[type="text"]:focus{border-bottom: 1px solid #2d0374}
textarea{font-family:cursive;
    background-attachment: local; 
    background-image:linear-gradient(to right, #d5c3f3 10px, transparent 10px),
    linear-gradient(to left, #d5c3f3 10px, transparent 10px),
    repeating-linear-gradient(#d5c3f3, #d5c3f3 30px, #ad88f1 30px, #ad88f1 31px, white 31px);
    line-height: 31px;
    padding: 0 10px;
    width:100%;
    border:none;}
textarea:focus{background-attachment: local; 
    background-image:linear-gradient(to right, #d5c3f3 10px, transparent 10px),
    linear-gradient(to left, #d5c3f3 10px, transparent 10px),
    repeating-linear-gradient(#d5c3f3, #d5c3f3 30px, #2d0374 30px, #2d0374 31px, white 31px)

}
.notifications{position: absolute;
    background: #000;
    color: #dedede;
    left: 30%;
    padding: 10px;
    border: 1px solid #222;
    list-style: none}
/*Header*/
.headingBar{
    background: #000;
    padding: 13px 48px;
    color: #cecece;
    text-align: right;}

.headingBar a{color:#aab392;}
.headingBar a:hover{color:#eaf2f5;}

/*Body*/
body{padding:0px;
	margin:0px}


/*Footer*/

/*----------Landing Page Styles---------------*/
.landingcont{
	position: relative;
	height: 100vh;
	background-image: url(../img/landingpic.jpg);
	background-size: cover;
	overflow: auto}
.landingpanel{position: absolute;
	top: 15%;
	left: 20%;
	bottom: 10%;
	right:20%;
	padding:30px;
	overflow: auto;
    background: rgba(15, 15, 15, 0.58)}

.welcomeTxt{
	font-size: 33px;
	color: #dfdfdf;
    line-height: 61px}
.welcomeTxt i{
	color: #b01cfc
}

.loginArea{background: #333}
.accessLinks {color: #9f9e9e;
	margin: 25px 0px}

.openid_div{font-family: "Helvetica Neue",Helvetica,Verdana,Tahoma,Arial,sans-serif;
    margin:30px 0px;}
.openid_div > a{color:#fff;
    background: #3C61AB;
    padding: 10px 20px;
    margin: 0px 5px;
    font-size: 14px;}
.openid_div > a:active{font-weight: bold;
    opacity:0.9;}
.openid_div > a:first-child{background:#3D0B99;}

.button{
    background-color: #333;
    padding: 5px 10px;
    min-width: 200px;
    border: 1px solid #343434;
    color: #b01cfc;
    font-family: cursive;
    font-size: 20px;}



/*------View all Styles ----------------*/
.listingWrap{color: #555;
    width: 800px;
    margin: 0 auto 0px;
    padding: 20px;
    background: #d5c3f3;
    text-align: justify;
    line-height: 25px;
    min-height: 95%}

.articleHeading{color: #2d0374;
    font-size: 22px;}

.articleDate {
    font-size: 10px;
    color: #6e6e6e;
    line-height: 14px;
    font-style: italic;
}

.articleTags{
    margin-bottom: 20px;
    border-bottom: 1px solid #ad88f1;
}

.listingWrap a{font-size:12px;}