<!DOCTYPE html>
  <head>
    {% if title %}
    <title>{{ title }} - MyJournal</title>
    {% else %}
    <title>Welcome to MyJournal</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="static/css/journalstyles.css">
  </head>
  <body>
    <div class="landingcont">
    <div class = "headingBar"> 
        {% if g.user.is_authenticated %}

        <a href="{{ url_for('index') }}">{{ user.nickname }}'s Journal</a>
        | <a href="{{ url_for('create') }}">Create Article</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        
        {% endif %}
    </div>

    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="notifications">
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
 
<div class="footer"> © 2017 | CRN Andela Project</div>
 </div>
  </body>

</html>