<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <!-- <h1>Hi, {{ user.nickname }}!</h1> -->
   
<div class="listingWrap">
    {% for article in articles %}
        <div class="articleHeading">
	      {{ article.title }}
	    </div>
	    <div class="articleDate">Created at:
	      {{ article.date.strftime("%I:%M%p on %B %d, %Y") }}
	    </div>
	    <div class="articleDescription">
	      {{ article.bodytxt }}
	    </div>
	    <div class ="articletags">
	    	{{article.tags}}
	    </div>
    {% endfor %}
</div>
{% endblock %}
