
<html>
  <head>
    {% if title %}
    <title>{{ title }} - MyJournal</title>
    {% else %}
    <title>Welcome to MyJournal</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="../static/css/journalstyles.css">
  </head>
  <body>
    <div class="landingcont">
    <div class = "headingBar"> 
        {% if g.user.is_authenticated %}

        <a href="{{ url_for('index') }}">{{ user.nickname }}'s Journal</a>
        | <a href="{{ url_for('create') }}">Create Article</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        
        {% endif %}
    </div>
    
    <div class="listingWrap">
    	

	<div class="clearfix"></div>
</form>
</div>
  </div>
  </body>
</html>
